body            { font-family: sans-serif; background: #eee; }
a, h1, h2, h3   { color: #377BA8; }
h1, h2, h3      { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.1em; }
h3              { font-size: 1.0em; }

.page           { margin: 2em auto; width: 50em; border: 3px solid #ccc;
                  padding: 0.8em; background: white; }

.projs        { list-style: none; margin: 0; padding: 0; }
.projs li     { margin: 0.8em 1.2em; }
.projs li h2  { margin-left: 1em; color: #666; }
.projs li h3  { margin-left: 0.8em; color: #666; }

.clients        { list-style: none; margin: 0; padding: 0; }
.clients li     { margin: 0.8em 1.2em; }
.clients li h2  { margin-left: 1em; color: #666; }
.clients li h3  { margin-left: 0.8em; color: #666; }

.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
                  
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
                  
/* Flask errors */
.error          { background: #F0D6D6; padding: 0.5em; }

/* WTForms errors */
.errors         { background: #FF9900; padding: 0.5em; }
.label          { padding: 0.5em; }

.small          { color: #888888; font-size: 0.8em; }

dt              { font-weight: bold; } 
dd              { margin: 0; padding: 0 0 0.5em 0; }
